fastapi~=0.115.14
uvicorn[standard]
pydantic~=2.11.7
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
prometheus-fastapi-instrumentator
httpx
tenacity
starlette~=0.46.2
pybreaker